.container {
  display: flex;
  align-items: center;
  min-height: 460px;
  padding: 60px 0;
  background-image: url(/assets/banner.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50%;
  color: white;
}

.title {
  font-size: 2.625rem;
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
}

.subtitle {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0;
  opacity: 0.95;
}

.ctaButton {
  align-self: flex-start;
  padding: 12px 50px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  border-radius: 15px;
  background-color: var(--Azul);
  color: rgb(255, 255, 255);
}

.ctaButton:hover {
  transform: scale(1.05 ease);
  background-color: var(--Verde);
  box-shadow: 0 8px 25px rgba(32, 32, 32, 0.171);
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .container {
    padding: 60px 20px;
    background-image: url(/assets/banner-mobile.jpg);
    background-position: bottom center;
    min-height: 840px;
    background-size: cover;
    align-items: start;
  }

  .content {
    justify-content: center;
    text-align: center;
  }

  .textContent {
    max-width: 100%;
    align-items: center;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .ctaButton {
    align-self: center;
    width: 80%;
  }
}

/* Tablet Styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .textContent {
    max-width: 60%;
  }

  .title {
    font-size: 2.25rem;
  }
}

