.QrCode {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.QrCode button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--Azul);
    color: white;
    cursor: pointer;
}


.downloadButtons {
    display: flex;
    gap: 10px;
}

.downloadButtons button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3498DB;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.downloadButtons button:hover {
    background-color: #2980B9;
}

