:root {
    --Azul: #3498DB;
    --Azul-Escuro: #043F67;
    --Verde: #73C8A9;
    --Gradiente: linear-gradient(to right, #73C8A9, #3498DB);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Alterações no modal do componete showLink */
.css-1wnsr1i {
min-width: 700px;
padding: 20px;
border: none;
border-radius: 10px;
}